<article class="content-publication">
    <h1>Title: {{title}}</h1>

    <!--If no one has shared the post yet, the number should be zero -->
    {{!-- {{#if shared.length == 0}}
    <p>Number of people shared the publication: 0</p>
    {{else}} --}}
    <p>Number of people shared the publication: {{shared.length}}</p>
    {{!-- {{/if}} --}}
    <a href="/publication/details/{{_id}}" class="image-details">View publication</a>
</article>
    <!--If no one has shared the post yet, the number should be zero -->
    <!--<p>Number of people shared the publication: 0</p>-->

    <!--Otherwise, show the number -->